<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="./css/searchBar-demo.css">
  <title>Document</title>
</head>
<body>
  <div class="h1">All Items </div>
  
  <section id = "itemList">

  </section>
  <script>
    //   window.addEventListener("load", ()=>{

    //   })
    //   const itemList = document.getElementById("itemList");
    //   let items = data.items;
    //   console.log(items);
    // function sendData(e){
    //   const searchRes = document.getElementById("searchRes");
    //   fetch("getSearchedProduct", {
    //     method: "post", 
    //     headers: { "Content-type": "application/json" },
    //     body: JSON.stringify({payload: e.value})
    //   }).then(res => res.json()).then(data => {
    //     let payload = data.payload;
    //     searchRes.innerHTML = '';
    //     if(payload.length < 1){
    //       searchRes.innerHTML = "<p>No Item Match.</p>"
    //       return;
    //     }
    //     payload.forEach((item, index) => {
    //       if(index > 0) searchRes.innerHTML += "<hr>";
    //       searchRes.innerHTML += `<p>${item.email}</p>`
    //     });
    //   });
    // }
  </script>

</body>
</html>
