<!DOCTYPE html>
<html lang="en">
    <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <body>
        <h1>single item</h1>
        <section id = "singleItem">
        </section>
    </body>
    <script>
        // window.addEventListener("load", ()=>{
        //     const singleItem = document.getElementById("singleItem");
        //     data => {
        //         // using a for loop to show all items and make them clickable
        //         let item = data.item;
        //         singleItem.innerHTML = '';
        //         singleItem.innerHTML += `<a> ${item.nickname}</a> <br> <a> ${item.email}</a> <br>`
        //     };
        // })
        
    </script>
</html>